*, ::before, ::after { box-sizing: border-box; } 

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #27BAE1 0%, #B9FCDF 80%, #7ECB86 100%);
  font-family: Avenir, Helvetica, san-serif;
  font-weight: 300;
  color: #fff;
}

main {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 500px) 1fr;
  grid-template-rows: 1fr auto auto auto 3fr;
  grid-gap: 1rem 0;
}
h1, section, p {
  grid-column: 2 / 3;
}
h1 {
  grid-row: 2 / 3;
}
.youtube-page {
  grid-row: 5 / 6;
  margin-bottom: 2rem;
}
.newsletter-signup {
  grid-row: 3 / 4;
}
.twitter {
  grid-row: 4 / 5;
}


h1 {
  font-size: 4.5rem;
  margin: 1rem 0;
  font-weight: 300;
  text-align: center;
  font-family: "p22-underground-pc", Avenir, Helvetica, san-serif;
  margin: 0;
}
h4 {
  font-weight: 300;
  margin: 0 0 1em;
  font-size: 1.4rem;
  font-family: "p22-underground-pc", Avenir, Helvetica, san-serif;
}
a {
  color: rgb(58, 98, 29);
}
p {
  margin-bottom: 1.5em;
}
img {
  width: 100%;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
  object-fit: cover;
  height: 375px;
  object-position: top;
}
.twitter {
  height: 2em;
  width: 2em;
  margin: 1em auto 1.5em;
}
.twitter svg {
  fill: white;
}




